# Unity LFS
*.cubemap               lfs
*.unitypackage          lfs  

# 3D models
*.3dm                   lfs
*.3ds                   lfs
*.blend*                lfs
*.c4d                   lfs
*.collada               lfs
*.dae                   lfs
*.dxf                   lfs
*.mp3 					lfs